<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= partial 'meta' %>

    <%= stylesheet_link_tag [
      'normalize',
      'main'
    ].concat(@page_css ||= []) %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <header class="header">
      <div class="header-content">
        <h1>
          <div class="rings">
            <div class="ring ring__1-2 ring-1 ring__reverse ring__speed_slow"></div>
            <div class="ring ring__3-4 ring-2 ring__speed_normal"></div>
            <div class="ring ring__1-4 ring-3 ring__reverse ring__speed_fast"></div>
            <div class="ring ring__1-2 ring-4 ring__speed_normal"></div>
            <div class="ring ring__3-4 ring-5 ring__reverse ring__speed_slow"></div>
          </div>
          <%= link_to 'pietvanzoen', '/' %>
        </h1>
        <nav class="site-nav">
          <a href="https://twitter.com/pietvanzoen" rel="nofollow" class="icon-twitter" title="Twitter"><span class="hide">Twitter</span></a>
          <a href="https://github.com/pietvanzoen" rel="nofollow" class="icon-github" title="Github"><span class="hide">Github</span></a>
          <a href="https://www.linkedin.com/in/pietvanzoen" rel="nofollow" class="icon-linkedin" title="LinkedIn"><span class="hide">LinkedIn</span></a>
          <a href="mailto:hi@pietvanzoen.com" rel="nofollow" class="icon-envelope" title="Email"><span class="hide">Email</span></a>
        </nav>
      </div>
    </header>


    <div id="main" role="main" class="main">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>Built with <%= link_to 'Middleman', 'https://middlemanapp.com' %>. Served by <%= link_to 'Caddy', 'https://caddyserver.com' %>.</p>
      <p>&copy; <%= Time.new.year %>  Piet van Zoen</p>
    </footer>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.piet.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.piet.me/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

  </body>
</html>
