<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= partial 'meta' %>

    <%= stylesheet_link_tag [
      'main'
    ].concat(@page_css ||= []) %>

    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>

    <header class="header">
      <div class="header-content">
        <h1>
          <a href="/">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <title>face</title>
          <path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016 0-0.797-0.141-1.547-0.328-2.25-0.703 0.188-1.453 0.234-2.25 0.234-3.375 0-6.328-1.641-8.156-4.219-0.984 2.391-2.906 4.359-5.25 5.391-0.047 0.281-0.047 0.563-0.047 0.844 0 4.406 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM15 11.766c0.703 0 1.266 0.516 1.266 1.219s-0.563 1.266-1.266 1.266-1.266-0.563-1.266-1.266 0.563-1.219 1.266-1.219zM9 11.766c0.703 0 1.266 0.516 1.266 1.219s-0.563 1.266-1.266 1.266-1.266-0.563-1.266-1.266 0.563-1.219 1.266-1.219z"></path>
          </svg>
          pietvanzoen
          </a>
        </h1>
        <nav class="site-nav">
          <%= nav_link "Projects", "/projects/" %>
          <%= nav_link "Reading", "/reading/" %>
        </nav>
      </div>
    </header>


    <div id="main" role="main" class="main">
      <%= yield %>
    </div>

    <footer class="footer">
      <%= partial 'social' %>

      <p>&copy; <%= Time.new.year %>  Piet van Zoen</p>
    </footer>

    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      var SITE_IDS = {
        'pietvanzoen.com': 'THDHU',
        'piet.me': 'DGYKJ'
      };
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
          m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//fathom.piet.me/tracker.js', 'fathom');
      fathom('set', 'siteId', SITE_IDS[window.location.host]);
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->   <!-- End Matomo Code -->

  </body>
</html>
