
<%
@page_css = [ 'syntax' ]
@description = current_article.summary
@title = current_article.title
@wpm = 200
%>

<% wrap_layout :layout do %>
  <article class="post">
    <header>
      <h1><%= current_article.title %></h1>
      <div class="article-meta nudge-up">
        <time datetime="<%= current_article.date.strftime('%F') %>"><%= current_article.date.strftime('%e %B %Y') %></time>
        &nbsp;|&nbsp;&nbsp;<abbr title="<%= reading_time( current_article.body, @wpm ) %> minutes at <%= @wpm %>/wpm"><%= word_count current_article.body %> words</abbr>
      </div>
    </header>

    <% if current_article.data.unsplash_img_id %>
    <figure class="post-header-img">
      <img src="<%= cache_remote_asset("https://source.unsplash.com/#{current_article.data.unsplash_img_id}/1400x900") %>" width="1400" height="900" alt="<%= current_article.data.img_alt || current_article.title %>">
      <% if current_article.data.img_caption %>
        <figcaption><%= current_article.data.img_caption %></figcaption>
      <% end %>
    </figure>
    <% end %>

    <%= yield %>
  </article>


  <hr>
  <p><em>Typos? Mistakes? <%= link_to 'Please submit an issue.', 'https://github.com/pietvanzoen/pietvanzoen.com/issues/new', :query => { :body => "**Page:** #{URI.join(config.site_url, current_article.url)}\n\n", :labels => 'bug'} %></em></p>


  <h2 id="comments">Comments</h2>
  <script src="https://utteranc.es/client.js"
        repo="pietvanzoen/pietvanzoen.com"
        issue-term="pathname"
        async>
  </script>

  <noscript>
    <div class="card">
      <strong>Sorry, comments require JavaScript</strong>
      <p><small>No JavaScript? Good for you! I strive to make the experience of this website great without JavaScript. But, I haven't found a good solution for comments on a static website without JavaScript. So, if you'd like to view or make comments please enable JavaScript.</small></p>
    </div>
    <br>
  </noscript>

<% end %>
