
<%
@page_css = [ 'syntax' ]
@description = current_article.summary
@title = current_article.title
%>

<% wrap_layout :layout do %>
  <article>
    <header>
      <h1><%= current_article.title %></h1>
      <time datetime="<%= current_article.date.strftime('%F') %>"><small><%= current_article.date.strftime('%e %B %Y') %></small></time>
    </header>

    <% if current_article.data.unsplash_img_id %>
    <figure class="post-header-img">
      <div class="embed-container ratio-16-9">
        <img src="<%= cache_remote_asset("https://source.unsplash.com/#{current_article.data.unsplash_img_id}/1400x900") %>" width="1400" height="900" alt="<%= current_article.title %>">
      </div>
    </figure>
    <% end %>

    <%= yield %>

    <hr>

    <footer>
      <h4>About Piet</h4>
      <%= partial(:about, :locals => { :img_width => 100 }) %>
    </footer>
  </article>

  <hr>

  <script src="https://utteranc.es/client.js"
        repo="pietvanzoen/pietvanzoen.com"
        issue-term="pathname"
        async>
  </script>

  <noscript>
    <div class="card">
      <strong>Sorry, comments require JavaScript</strong>
      <p><small>No JavaScript? Good for you! I strive to make the experience of this website great without JavaScript. But, I haven't found a good solution for comments on a static website without JavaScript. So, if you'd like to view or make comments please enable JavaScript.</small></p>
    </div>
    <br>
  </noscript>

<% end %>
