<% articles.each_with_index do |article, i| %>
<article>
  <%= i != 0 ? '<hr>' : '' %>
  <h2 class="header-xl"><%= link_to article.title, article %></h2>
  <time class="article-meta nudge-up"><%= article.date.strftime('%e %B %Y') %></time>

  <% if article.data.unsplash_img_id %>
    <img class="img-right img-circle" alt="<%= article.title %>" src="<%= cache_remote_asset("https://source.unsplash.com/#{article.data.unsplash_img_id}/400x400") %>" style="min-width: 100px; width: 18vw; max-width: 150px">
  <% end %>

  <%= article.summary %>
</article>
<% end %>
