
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=NmEn8A8Wqa">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png?v=NmEn8A8Wqa" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png?v=NmEn8A8Wqa" sizes="16x16">
<link rel="manifest" href="/images/manifest.json?v=NmEn8A8Wqa">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=NmEn8A8Wqa" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon.ico?v=NmEn8A8Wqa">
<meta name="msapplication-config" content="/images/browserconfig.xml?v=NmEn8A8Wqa">
<meta name="theme-color" content="#ffffff">

<%
@site_title = config.site_title
@site_description = config.site_description
@site_delimiter = ' :: '
@meta_title = [@title || current_page.data.title, @site_title].compact.join(@site_delimiter)
@meta_description = strip_tags current_page.data.description || @description || @site_description
@meta_url = File.join(config.site_url, current_page.url)
@meta_type = current_article ? 'article' : 'website'
@unsplash_img_id = current_article ? current_article.data.unsplash_img_id : false
%>

<% if @description.nil? %>
<title><%= @site_title + @site_delimiter + @site_description %></title>
<% else %>
<title><%= @meta_title %></title>
<% end %>

<meta property="og:title" content="<%= @meta_title %>" />
<meta property="og:description" content="<%= @meta_description %>" />
<meta name="description" content="<%= @meta_description %>" />
<meta property="og:type" content="<%= @meta_type %>" />
<meta property="og:site_name" content="<%= @site_title %>">
<meta property="og:url" content="<%= @meta_url %>">
<link rel="canonical" href="<%= @meta_url %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pietvanzoen" />

<% if @unsplash_img_id %>
<meta property="og:image" content="https://source.unsplash.com/<%= @unsplash_img_id %>/400x400">
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<% end %>

<% if current_page.data.noindex %>
<meta name="robots" content="noindex, nofollow">
<% end %>
