<%= partial 'about' %>
<hr>

<% blog.articles[0..4].each do |article| %>
<article>
  <h1><%= link_to article.title, article %> </h1>
  <time><small><%= article.date.strftime('%e %B %Y') %></small></time>

  <% if article.data.unsplash_img_id %>
  <img class="img-right img-circle" alt="<%= article.title %>" src="https://source.unsplash.com/<%= article.data.unsplash_img_id %>/260x260" style="min-width: 100px; width: 18vw; max-width: 130px">
  <% end %>

  <%= article.summary %>
  <hr>
</article>
<% end %>


<section>
  <a href="/blog/archive">Archive</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/reading">Reading</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/feed.xml">RSS</a>
</section>
