<%= partial(:about, :locals => { :text_class => 'intro-text' }) %>
<hr>

<h2>Latest Posts</h2>
<%= partial(:article_list, :locals => { :articles => blog('posts').articles[0..2] }) %>

<section class="buffer-top-large">
  <h4><a href="/blog/">More Posts</a></h4>
</section>

<hr>
<h2>Latest Links</h2>

<ul>
<% data.links.items[0..4].each do |link| %>
  <li><h3><a href="<%= link['link'] %>" rel="external"><%= escape_html link['title'] %></a></h3></li>
<% end %>
</ul>

<section class="buffer-top-large">
  <h4><%= link_to 'More Links', '/links/' %></h4>
</section>
