---
title: Links
description: Links worth sharing.
changefreq: daily

---

<h1>Links</h1>

<p class="intro-text">Excellent things from around the web.</p>

<hr>

<% data.links.each do |article| %>
<article>
  <header>
    <h2><a rel="external" href="<%= article['href'] %>"><%= escape_html article['description'] %></a></h2>
    <time class="article-meta nudge-up"><%= DateTime.parse(article['time']).strftime('%e %B %Y') %></time>
  </header>
  <% if article['extended'] %>
    <blockquote><p><%= escape_html article['extended'] %></p></blockquote>
  <% end %>

  <%
  @tags = article['tags'].split(' ').select{ |t| t != 'share'}
  unless @tags.empty? %>
    <p><small>Pinboard tags:
    <% @tags.each do |tag| %>
    <a rel="external" href="https://pinboard.in/u:pietvanzoen/t:<%= tag %>/"><%= tag %></a>
    <% end %>
    </small></p>
  <% end %>
  <hr>
</article>
<% end %>
