<%
require 'open-uri'
require 'json'
request_uri = 'https://api.pinboard.in/v1/posts/all?format=json&tag=share&auth_token=' + ENV['PINBOARD_TOKEN']
buffer = open(request_uri).read
result = JSON.parse(buffer)
%>

<h1>Reading</h1>

<% result.each do |article| %>
<article>
  <header>
    <h3><a href="<%= article['href'] %>"><%= article['description'] %></a></h3>
    <time><small><%= DateTime.parse(article['time']).strftime('%e %B %Y') %></small></time>
  </header>
  <% if article['extended'] %>
    <p><%= article['extended'] %></p>
  <% end %>

  <% if article['tags'] %>
    <p><small>Pinboard tags:
    <% article['tags'].split(' ').select{ |t| t != 'share' }.each do |tag| %>
    <a href="https://pinboard.in/u:pietvanzoen/t:<%= tag %>/"><%= tag %></a>
    <% end %>
    </small></p>
  <% end %>
  <hr>
</article>
<% end %>
