---
title: Stuff I'm Reading
description: Articles worth sharing.
changefreq: daily

---
<%

require 'open-uri'
require 'json'
request_uri = 'https://api.pinboard.in/v1/posts/all?format=json&tag=share&auth_token=' + ENV['PINBOARD_TOKEN']
buffer = open(request_uri).read
result = JSON.parse(buffer)
%>

<h1>Stuff I'm Reading</h1>

<p class="intro-text">Links that I think are worth a read.</p>

<% result.each do |article| %>
<article>
  <hr>
  <header>
    <h3><a href="<%= article['href'] %>"><%= escape_html article['description'] %></a></h3>
    <time class="article-meta nudge-up"><%= DateTime.parse(article['time']).strftime('%e %B %Y') %></time>
  </header>
  <% if article['extended'] %>
    <blockquote><p><%= escape_html article['extended'] %></p></blockquote>
  <% end %>

  <%
  @tags = article['tags'].split(' ').select{ |t| t != 'share'}
  unless @tags.empty? %>
    <p><small>Pinboard tags:
    <% @tags.each do |tag| %>
    <a href="https://pinboard.in/u:pietvanzoen/t:<%= tag %>/"><%= tag %></a>
    <% end %>
    </small></p>
  <% end %>
</article>
<% end %>
